<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Aplicación</title>
 
</head>
<body>
  <header>
    <h1>Bienvenido a Mi Aplicación</h1>
  </header>

  <main>
    <section>
      <h2>Eventos</h2>
     
    </section>

    <section>
      <h2>Agregar Evento</h2>
      
      <form action="/agregar_evento" method="post">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required>

        <button type="submit">Agregar Evento</button>
      </form>
    </section>
  </main>



  <footer>
    <p>© 2024 Mi Aplicación. Todos los derechos reservados.</p>
  </footer>

</body>
</html>

